<%- include("header") -%>
<div class="box" id="heading">
<h1>About Page</h1>
</div>
<div class="box">
<p> This about the To do project. </p>
<p> Technology Used </p>
<ul>
	<li>Node</li>
	<li>How to create own module and use it like Date module</li>
	<li>Express js npm module for server handling </li>
	<li>Body parser again npm module</li>
	<li> and EJS:EJS is a simple templating language that lets you generate HTML markup with plain JavaScript</li>
	
</ul>
</div>
<%- include("footer") -%>
